<div class="sixteen columns">
  <h2>Featured Image</h2>
</div>
<%= render :partial => 'featured_image' %>
<div class="twelve columns">
  <p>
    Welcome to the legacy app!
    Why not <%= link_to 'view the images', images_path %>.
</div>
