<div class="sixteen columns">
  <h2 class="remove-bottom">Images</h2>
</div>

<div class="sixteen columns">
  <%= link_to 'Add New Image', new_image_path %>
</div>

<% @images.each do |image| %>
  <div class="four columns">
    <%= image_tag image.public_filename(:small) %>
    <%= link_to "Edit", edit_image_path(image) %>
    <%= link_to "Delete", image_path(image), :method => :delete, :confirm => "Are you sure you want to delete this image?" %>
  </div>
<% end %>

